.containPage {
    padding: 20px 30px 10px 30px;
  }
  
  .contentPage {
    padding: 10px;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/564x/2f/9b/9c/2f9b9c563616bdc4b10e624d02b7c638.jpg);
  }
  
  .btn-edit {
    background-color: #343a40;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
  
  .bgProfile {
    
    height: 300px;
    background-size: contain;
    // background-position: center;
  }